* {
  font-family: 'El Messiri';
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  overflow: hidden;
}

/* Media Querries for other devices
 */
@media only screen and (max-width: 1024px) {
  .nav-content {
    margin: 0 auto;
  }

  * {
    overflow: scroll;
    position: static;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: static;
    width: auto;
    height: auto;
    overflow-y: scroll;
  }

  .div-input-section {
    width: auto;
    height: auto;
    position: static !important;
    display: flex;
    justify-content: center;
    overflow-y: auto !important;
  }

  .content {
    justify-content: center;
  }

  .web-name {
    font-size: 35px;
  }

  .circle {
    width: 10px;
    height: 10px;
  }

  .input-div {
    position: static !important;
    width: auto;
    height: auto;
  }
}




/* stlying circles in navbar */
.circle_design {
  display: flex;
  flex-direction: row;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px
}

#circle1 {
  background-color: #FF0000;
}

#circle2 {
  background-color: #008000;
}

#circle3 {
  background-color: #FFFF00;
}

.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* styling navbar */
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  position: fixed;
  background-color: #fff;
  border-bottom: 2px solid black;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  padding: 5px 0 5px 45px;
}

.web-name {
  font-size: 45px;
  font-family: 'El Messiri';
  font-weight: bold;
}

/* styling body  */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* styling input code section  */
.div-input-section {
  border-right: 2px solid black;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
  margin-top: 4%;
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  bottom: 0;
  padding: 1rem;
  width: 35%;
}

.stock-input-div {
  margin: 75px 30px 20px 45px;
  font-size: 21px;
  display: flex;
  flex-direction: column;
}

.input-div {
  position: fixed;
}

#input-box {
  width: 350px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #1C89FF;
  margin-right: 30px;
  font-size: 15px;
  padding-left: 15px;
  color: grey;
}

#submit-button {
  width: 130px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #1C89FF;
  background-color: #1C89FF;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

/* styling date range picker section  */
.date-picker-div {
  margin: 20px 30px 20px 45px;
  font-size: 21px;
  display: flex;
  flex-direction: column;
}

/* These three properties getting from dash (not uses as a classname in app.py check it using DevTools) */
.DateInput_input {
  border-radius: 20px;
  border: 2px solid #1C89FF;
  height: 50px;
  width: 130px;
  text-align: center;
  font-size: 15px;
}

.DateRangePickerInput_arrow_svg {
  vertical-align: middle;
  fill: #1C89FF;
}

.DateRangePickerInput__withBorder {
  width: 350px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* styling remaining buttons */
.stock-price-indicator-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 50px;
  margin: 0px 30px 25px 45px;
}

#stock-price-button,
#indicator-button {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #1C89FF;
  background-color: #1C89FF;
  color: white;
  font-size: 18px;
  text-align: center;
}

#input-forecast-days {
  width: 350px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #1C89FF;
  margin-right: 30px;
  font-size: 15px;
  padding-left: 15px;
  color: grey;
}

#forecast-button {
  width: 130px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #1C89FF;
  background-color: #1C89FF;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

.forecast-div {
  margin: 20px 30px 20px 45px;
  font-size: 21px;
  display: flex;
  flex-direction: column;
}

/* styling second column */
.content {
  width: 50%;
  display: inline-block;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  margin: 4.5%;
  margin-top: 10%;
}

.header {
  padding: 10px;
  display: flex;
  align-items: center;
}

#logo {
  height: 2.5rem;
  margin-right: 2em;
}


.decription_ticker {
  padding: 12px;
}